<html>
<head>
</head>
<body>
<H1><%= @title  %></H1>
<form name="product" method="post" action="showProduct" >
<input type="text" name = "product_no">
<input type="text" name="product_name">
<input type="submit">
</form>
</body>
</html>
